<table class="table table-bordered">
    <thead>
        <tr>
            <th>Organization</th>
            <th>Description</th>
            <th>Drivers</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="organization in $ctrl.organizations">
            <td>{{ organization.organizationsName }}</td>
            <td>{{ organization.description }}</td>
            <td>
                <ul>
                    <li ng-repeat="driver in organization.drivers">
                        {{ driver.firstname + ' ' + driver.lastname }}
                        <button class="btn btn-danger" ng-click="$ctrl.deleteDriver(driver.id)">Delete</button>
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="comment in organization.comments">
                        {{ comment.clientsUsername + ' Rating: ' + comment.rating }}
                        <button class="btn btn-danger" ng-click="$ctrl.deleteComment(comment.id)">Delete</button>
                        <button class="btn btn-default" ng-click="$ctrl.showCommentsDetails(comment)">Details</button>
                    </li>
                </ul>
            </td>
            <td>
                <button class="btn btn-default" ng-click="$ctrl.updateDescription(organization.description, organization.id)">Update</button>
                <button class="btn btn-default" ng-click="$ctrl.addDriver(organization.id)">Add driver</button>
            </td>
        </tr>
    </tbody>
</table>