<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Enter comments's data</h3>
</div>

<div class="modal-body" id="modal-body">
    <div uib-alert class="alert-danger" ng-show="$ctrl.errors" close="$ctrl.clearErrors()">
        <p ng-repeat="error in $ctrl.errors">{{ error.msg }}</p>
    </div>

    <form>
        <div class="form-group">
            <label for="organizations">Select organization:</label>
            <select ng-change="$ctrl.getDriversByOrganizationsId()" id="organizations" class="forms-select" ng-model="$ctrl.comment.organizationsId" ng-change="$ctrl.getOrganizationsDrivers()">
                <option value="{{ organization.id }}" ng-repeat="organization in $ctrl.organizations">
                    {{ organization.organizationsName }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="drivers">Select driver:</label>
            <select id="drivers" class="forms-select" ng-model="$ctrl.comment.driversId">
                <option value="{{ driver.id }}" ng-repeat="driver in $ctrl.drivers">
                    {{ driver.firstname + ' ' + driver.lastname }}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="ratings">Rate:</label>
            <select id="ratings" class="forms-select" ng-model="$ctrl.comment.ratingsId">
                <option value="{{ rating.id }}" ng-repeat="rating in $ctrl.ratings">
                    {{ rating.rating }}
                </option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="comment">Сomment:</label>
            <textarea ng-model="$ctrl.comment.comment" id="comment" class="form-control"></textarea>
        </div>

        <div class="forms-buttons-container">
            <button class="btn btn-primary" type="submit" ng-click="$ctrl.leaveComment($event)">Add</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>    
    </form>
</div>
<div class="modal-footer">
</div>