<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Enter ticket's data</h3>
</div>

<div class="modal-body" id="modal-body">
    <div uib-alert class="alert-danger" ng-show="$ctrl.errors" close="$ctrl.clearErrors()">
        <p ng-repeat="error in $ctrl.errors">{{ error.msg }}</p>
    </div>

    <form>
        <div class="form-group">
            <label for="rides">Select available ride:</label>
            <select  
                id="rides" 
                class="forms-select" 
                ng-model="$ctrl.ticket.ridesId"
                ng-options="ride.id as ride.sourcesName + '-' + ride.destinationsName + ride.departureTime for ride in $ctrl.rides"
            >
                <option value="" selected hidden />
            </select>
        </div>

        <div class="form-group">
            <label for="pt">Select payment type:</label>
            <select 
                id="pt" 
                class="forms-select" 
                ng-model="$ctrl.ticket.paymentTypesId"
                ng-options="pt.id as pt.type for pt in $ctrl.paymentTypes"
            >
                <option value="" selected hidden />
            </select>
        </div>

        <div class="forms-buttons-container">
            <button class="btn btn-primary" type="submit" ng-click="$ctrl.bookTicket($event)">Book</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>    
    </form>
</div>
<div class="modal-footer">
</div>