<div class="main-actions">
    <button class="btn btn-default" ng-click="$ctrl.addRoute()"><i class="fa fa-road" aria-hidden="true"></i> Add route</button>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Source</th>
            <th>Destination</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="route in $ctrl.routes">
            <td>
                <div>
                    <p>Name:</p>
                    <p>{{ route.sourcesName }}</p>
                </div>

                <div>
                    <p>Address:</p>
                    <p>{{ route.sourcesAddress }}</p>
                </div>
            </td>
            <td>
                <div>
                    <p>Name:</p>
                    <p>{{ route.destinationsName }}</p>
                </div>

                <div>
                    <p>Address:</p>
                    <p>{{ route.destinationsAddress }}</p>
                </div>
            </td>
            <td>
                {{ route.description }}
            </td>
            <td>
                <button class="btn btn-default" ng-click="$ctrl.updateRoute(route.id)">Update</button>
                <button class="btn btn-danger" ng-click="$ctrl.deleteRoute(route.id)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>