<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Enter user's data</h3>
</div>

<div class="modal-body" id="modal-body">
    <div uib-alert class="alert-danger" ng-show="$ctrl.errors" close="$ctrl.clearErrors()">
        <p ng-repeat="error in $ctrl.errors">{{ error.msg }}</p>
    </div>

    <form>
        <div class="form-group">
            <label for="username">Enter username:</label>
            <input ng-model="$ctrl.newUser.username" type="text" class="form-control" id="username">
        </div>

        <div class="form-group">
            <label for="password">Enter password:</label>
            <input ng-model="$ctrl.newUser.password" type="password" class="form-control" id="password">
        </div>

        <div class="form-group">
            <label for="confirm-password">Confirm password:</label>
            <input ng-model="$ctrl.newUser.confirmPassword" type="password" class="form-control" id="confirm-password">
        </div>

        <button class="btn btn-primary" type="submit" ng-click="$ctrl.add($event)">Add</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </form>
</div>
<div class="modal-footer">
</div>