<table class="table table-bordered">
    <thead>
        <tr>
            <th>First name</th>
            <th>Cars</th>
            <th>Rides</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="driver in $ctrl.drivers">
            <td>{{ driver.firstname + ' ' + driver.lastname }}</td>
            <td>
               <ul>
                    <li ng-repeat="ride in driver.rides">
                        {{ ride.sourcesName + '-' + ride.destinationsName + '; Status: ' + ride.status +'(' + ride.availableSeats + ' available seats)' }}
                        <button ng-click="$ctrl.deleteRide(ride.id)">Delete</button>
                        <button ng-click="$ctrl.updateRideAsOnTheRoad(ride.id)">On the road</button>
                        <button ng-click="$ctrl.updateRideAsFinished(ride.id)">Finish</button>
                    </li>
                </ul> 
            </td>
            <td>
                <ul>
                    <li ng-repeat="car in driver.cars">
                        {{ car.carsBrandsName + ' ' + car.carsModelsName + ' ' + car.manufactureYear }}
                        <button ng-click="$ctrl.deleteCar(car.id)">Delete</button>
                    </li>
                </ul>
            </td>
            <td>
                <button ng-click="$ctrl.addCar(driver.id)">Add car</button>
                <button ng-click="$ctrl.addRide(driver.id)">Add ride</button>
            </td>
        </tr>
    </tbody>
</table>